.education-details-card-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5rem;
  width: 95%;
  margin: 0 auto;
}

.education-section-header {
  font-size: 4rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.card {
  opacity: 0.6;
  position: relative;
  background-color: #022640;
  border-radius: 1rem;

  color: var(--dark-text);
  transition: transform 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
  border: 1px solid transparent;
  border-color: gray;
  font-size: 14px;

  /* background: linear-gradient(0deg, #000, #272727); */

  .card-header {
    padding: 0 1rem;
    .title {
      font-size: 1.5rem;
      /* font-weight: bold; */
      -webkit-box-shadow: 0 4px 6px -6px #222;
      -moz-box-shadow: 0 4px 6px -6px #222;
      box-shadow: 0 2px 6px -6px white;
      padding: 1rem;
      margin-bottom: 1rem;
      overflow: hidden;
    }
  }
  .card-body {
    padding: 1rem;

    .branch {
      padding: 10px 20px;
      display: flex;
      gap: 10px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      letter-spacing: 3px;
    }

    .institute {
      padding: 10px 20px;
      display: flex;
      gap: 10px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    .location {
      padding: 10px 20px;
      display: flex;
      gap: 10px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    .duration {
      padding: 10px 20px;
      display: flex;
      gap: 10px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    .percentage {
      padding: 10px 20px;
      display: flex;
      gap: 10px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    .certificate {
      padding: 10px 20px;
      display: flex;
      gap: 10px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      text-decoration: underline;

      a:link,
      a:visited {
        color: var(--dark-text);
      }
    }
  }
  &.recent {
    border-color: tomato;
    font-weight: bold;
    transition: transform 0.5s ease, box-shadow 0.5s ease, border 0.5s ease,
      translateY(-1rem);
  }
}

.card:hover {
  /* transform: scale(1.01); */
  opacity: 1;
  /* font-weight: bold; */
  box-shadow: rgba(64, 115, 234, 0.19) 0px 5px 10px,
    rgba(202, 48, 48, 0.23) 0px 3px 3px;
  border-color: transparent;
  color: rgb(79, 208, 157);

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(
      45deg,
      #fb0094,
      #0000ff,
      #00ff00,
      #ffff00,
      #ff0000,
      #fb0094,
      #0000ff,
      #00ff00,
      #ffff00,
      #ff0000
    );
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
  }
  &:after {
    filter: blur(50px);
  }
}

.card:hover a:link,
.card:hover a:visited {
  color: rgb(79, 208, 157) !important;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
